@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/679478.png");
    background-size: cover;
    background-position: 50%;
    min-width: 100dvw;
    min-height: 100dvh;
    overflow: hidden;
    font-family: 'roboto', sans-serif;
}

#searchBar{
    display: flex;
    width: 15rem;
    justify-content: center;
    margin-top: .7%;
    border-bottom: solid 2px black;
}

#searchButton{
    all:unset;
    cursor: pointer;
}

#searchIcon{
    width: 1rem;
    height: 1rem;
}

#mainWeatherContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 40%;
    margin-top: 1%;
}

#mainWeatherContainer > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

#secondaryWeatherLeft > *{
    text-align: left;
}

#secondaryWeatherRight > *{
    text-align: right;
}

.secondaryWeather > *{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.textContainer{
    display: flex;
    flex-direction: column;
}

#mainWeather{
    align-items: center;
    min-width: 14rem;
    opacity: 80%;
    gap: 1rem;
}

#mainTemperature{
    color: #000000;
    font-size: 5rem;
}
#mainName{
    color: black;
}

#searchBarInput{
    all:unset;
}

.icon{
    width: 3rem;
    height: 3rem;
}

#mainIcon{
    width: 6rem;
    height: 6rem;
}

#fiveDayWeatherContainer{
    margin-top: auto;
    width: 70%;
    height: 15rem;
    color: white;
}

#fiveDayWeather{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dayContainer{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    align-items: center;
}

.temperatureContainer{
    text-align: left;
}

.iconForecast{
    width: 4rem;
    height: 4rem;
    filter:invert(100%)
}

.dayTemperature{
    font-size: 3rem;
}

.nightTemperature{
    font-size: 1.5rem;
}

.dayText{
    font-size: 1.5rem;
}

@media only screen and (max-height: 800px) {
    h1{
        font-size: 3rem !important;
    }
    h2{
        font-size: 1.7rem !important;
    }
    h3{
        font-size: 1rem !important;
    }

    #mainWeather{
        gap: 0.2rem;
    }
  }